{
	"useTabs": false,
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 75,
	"proseWrap": "always",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
